@import "tailwindcss";

@custom-variant dark {
  &:where([data-tema="escuro"], [data-tema="escuro"] *) {
    @slot;
  }
  @media (prefers-color-scheme: dark) {
    &:where(html:not([data-tema="claro"]), html:not([data-tema="claro"]) *) {
      @slot;
    }
  }
}

@theme {
  --color-verde: #1db954;
  --color-preto: #191414;
  --color-branco: #fafafa;
}

@theme inline {
  --color-fundo: var(--fundo);
  --color-texto: var(--texto);
  --font-sans: var(--font-figtree);
}

:root {
  --fundo: var(--color-branco);
  --texto: var(--color-preto);
  color-scheme: light;
}

@media (prefers-color-scheme: dark) {
  :root:not([data-tema="claro"]) {
    --fundo: var(--color-preto);
    --texto: var(--color-branco);
    color-scheme: dark;
  }
}

:root[data-tema="escuro"] {
  --fundo: var(--color-preto);
  --texto: var(--color-branco);
  color-scheme: dark;
}

body {
  @apply bg-fundo text-texto;
}
